In [2]:
import pandas as pd

In [3]:
grades_dict = {'A': 4,'A-': 3.5,'B': 3,'B-': 2.5,'B': 2}
grades = pd.Series(grades_dict)

In [4]:
grades

A     4.0
A-    3.5
B     2.0
B-    2.5
dtype: float64

In [6]:
marks_dict = {'A': 85,'A+': 80,'B': 75,'B-': 70,'B': 65}
marks =  pd.Series(marks_dict)

In [7]:
marks

A     85
A-    80
B     65
B-    70
dtype: int64

## data frame

In [9]:
D = pd.DataFrame({'Marks' :marks, 'Grades' :grades})

In [10]:
D

    Marks  Grades
A      85     4.0
A-     80     3.5
B      65     2.0
B-     70     2.5